body {
    background-color: darkgreen;
    color: red
}

img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
}

h1, h2, p {
    text-align: center;
}
div {
    margin: 0 auto;
    text-align: center;
    background-color: blue;
}

ul, ol {
    display: inline-block;
    text-align: left;
}